importamos pandas

In [36]:
import pandas as pd
#importamos numpy
import numpy as np

In [37]:
#Crea un DataFrame de Pandas con 3 columnas: 'A', 'B' y 'C' con 4 filas de números aleatorios.


#creamos el dataframe usando numpy
df_random = pd.DataFrame(np.random.randint(1,101,size=(4,3)),columns=['A','B','C'])
df_random

    A    B    C
0  70   54   84
1  60   87   86
2  84  100  100
3  26   22   20

todos los ejercicios usaremos el dataframe df_random

In [45]:
#Dado un DataFrame de Pandas, renombra las columnas.

#usaremos el metodo columns para renombrar las columnas

df_random.columns=['random_one','random_two','random_three']

df_random

   random_one  random_two  random_three
0          70          54            84
1          60          87            86
2          84         100           100
3          26          22            20

In [43]:
#Dado un DataFrame de Pandas, encuentra la desviación estándar de los valores en una columna específica.

#para sacar la desviacion en pandas utilizamos el metodo std()
desviacion = df_random['random_one'].std()
print(f'desviacion estandar >_ {desviacion}')

desviacion estandar >_ 24.711670657134185

In [48]:
# Dado un DataFrame de Pandas, agrupa los datos por una columna y calcula la suma de otra columna.

df_random['sum_total'] = [df_random['random_one'].sum(),df_random['random_two'].sum(),df_random['random_three'].sum(),np.nan]

df_random

   random_one  random_two  random_three  sum_total
0          70          54            84      240.0
1          60          87            86      263.0
2          84         100           100      290.0
3          26          22            20        NaN

In [52]:
df_random.iloc[0,[0,1,2]].sum()

208.0